/LinguagemDoSistema/target/
/ResolucaoDaTela/target/
/OlaMundoSwing/target/
/TiposPrimitivos/target/
/classes/target/
/TrabalhoAeD/target/
/OperadoresAritmeticos/target/
/OperadorAritmeticos/target/
/SuperCalculadora/target/
/Ternario/target/
/comparacoString/target/
